/*

  font-family: "Space Grotesk", sans-serif;
  font-family: "DM Sans", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;family=Space+Grotesk:wght@300..700&amp;display=swap');

html,
body {
    overflow-x: hidden;
}

:root{
    --natural: #fff;
}
body {
    font-size: 17px;
    line-height: 30px;
    color: #616161;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

p {
    font-size: 17px;
    line-height: 30px;
    color: #616161;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0f1e36;
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    line-height: 60px;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 52px;
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a {
    color: #012549;
    text-decoration: none;
}

a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    -webkit-transition: .5s;
    transition: .5s;
}


.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6 {
    color: #fff;
}

.white p {
    color: #fff;
}

.white i {
    color: #fff;
}

ul {
    margin: 0px;
    padding: 0px;
}



ul {
    margin: 0;

    padding: 0;
}



input:focus,
button:focus {
    border-color: none;
    outline-color: none;
    border: 1px solid none;
}

textarea:focus {
    border-color: #063232;
    outline-color: #063232;
}

hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

hr.style-2 {
    border-bottom: 1px dashed #063232;
}

hr.mp-0 {
    margin: 0;
    border-bottom: 1px solid #eceff8;
}

hr.mtb-40 {
    margin: 40px 0;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

label {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

a,
i,
cite,
em,
var,
address,
dfn,
ol,
li,
ul {
    font-style: normal;
    font-weight: 400;
    list-style: none;
}

/* Default Background */
.bg_color {
    background: #43baff;
}

.bg_color2 {
    background: #211e3b !important;
}

.white_bg {
    background: #fff;
}

.bg_fixed {
    background-attachment: fixed;
}

.bg_before {
    position: relative;
}

.bg_before:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(12, 90, 219, 0.3);
}
.nagative_mb {
    position: relative;
    margin-bottom: -180px;
    z-index: 1;
}
*::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}

::selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::placeholder {
    font-size: 17px;
    color: #616161;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #454545;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #454545;
}

:-ms-input-placeholder {
    /* IE 10+ */

    color: #454545;
}

:-moz-placeholder {
    /* Firefox 18- */

    color: #454545;
}

/* Contact Area */
.counter_area ::-moz-selection {
    color: #001d23;
    text-shadow: none;
}

.contact_area ::-moz-selection {
    color: #001d23;
    text-shadow: none;
}

.contact_area ::selection {
    color: #001d23;
    text-shadow: none;
}

.contact_area ::placeholder {
    color: #001d23;
    font-size: 16px;
}

.contact_area ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #001d23;
}

.contact_area ::-moz-placeholder {
    /* Firefox 19+ */
    color: #001d23;
}

.contact_area :-ms-input-placeholder {
    /* IE 10+ */
    color: #001d23;
}

.contact_area :-moz-placeholder {
    /* Firefox 18- */
    color: #001d23;
}

.blog_reply ::-moz-selection {
    color: #151948;
}

.blog_reply ::-moz-selection {
    color: #151948;
}

.blog_reply ::selection {
    color: #151948;
}

.blog_reply::placeholder {
    color: #151948;
}

.blog_reply ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #151948;
}

.blog_reply ::-moz-placeholder {
    /* Firefox 19+ */
    color: #151948;
}

.blog_reply :-ms-input-placeholder {
    /* IE 10+ */
    color: #151948;
}

.blog_reply :-moz-placeholder {
    /* Firefox 18- */
    color: #151948;
}
.border_bg {
    border-bottom: 1px solid #cccdd894;
    padding-bottom: 120px;
}
.m-l-50 {
    margin-left: 50px;
}

/* Padding Top Css */
.pt-10{
    padding-top: 10px;
}
.pt-30{
    padding-top: 30px;
}
.pt-22{
    padding-top: 22px;
}


/* padding bottom css */

.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pl-130 {
    padding-left: 130px;
}
